@CHARSET "UTF-8";
/**
 * estilosUNLP.css
 *
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared stylesheet.
 * 
 */
/******************************************************************************************/

body {
    background-image: url(../images/fondo_completo.png);
    background-repeat: no-repeat;
    margin: 0;
}

.pkp_structure_page {
    margin: 0;
    background-position: 0 0;
    }

.pkp_structure_sidebar_left .temario .areas li {
	list-style-type: none;
	font-family: arial;
	font-size: 12px;
	margin: 0px;
	padding: 0px 0px 0px 2px; 
	line-height: 1.5;  	
}
.pkp_structure_sidebar_left .temario {
	font-family: arial;
	margin: 10px 5px 0px 10px;
	width: 20%;
	padding: 5px 10px 5px 10px;
	border: 1px solid #dedede;
	float: left;
}
.pkp_structure_sidebar_left .temario .areas {
	margin: 0;
}

.pkp_structure_foot {
    background-color: #6dc6c1;
    font-family: arial;
    font-size: 12px;
    
}
.pkp_structure_foot .col1 {
    width: 15%;
    float: left;
}
.pkp_structure_foot .col2 {
    width: 23%;
    float: left; 
    background-image: url(../images/marcador.png);
    background-repeat: no-repeat;
    background-position: 20px 0px;
}
.pkp_structure_foot .col3 {
    width: 43%;
    float: left;
    background-repeat: no-repeat;
    background-position: 20px 0px;
}

.pkp_structure_foot .col4 {
	width: 30%;
	float: left;
	background-repeat: no-repeat;
	background-position: 20px 0px;
	height: 100px;
	margin-top:15px;
}

.pkp_structure_foot .col2y3 {
    float: left;
    width: 80%;
    padding-left: 20px;
}
.pkp_structure_foot .col2y3 .col2 ul {
    padding-left: 40px;
    list-style-type:none;
}
.pkp_structure_foot .col2y3 .col2 li {
    padding: 0px 0px 0px 9px;
    color: white;
}
.pkp_structure_foot .col2y3 .col3 li {
    list-style-type: none;
    padding-left: 10px;
}


.pkp_structure_body .pkp_structure_content {
    /*height: 500px;*/
    background-position: center top;
    width : 100%;
}

.pkp_structure_content {
	width:100% !important;
}

.pkp_structure_foot .col2y3 .col3 .cc p {
	float: left;
	clear:left;
	margin: 0px 0px 0px 5px;
	width: 300px;
	position:relative;
	/* padding-top:15px;
	top:10px; */
	color:white;
}
.pkp_structure_foot .col2y3 .col3 .redes {
	width: 300px;
	height: 60px;
	margin-top:30px;
	position: relative;
	bottom:15px;
        
}
.pkp_structure_foot .col2y3 .col3 .redes img {
	       	display: inline;
}
.pkp_structure_foot .col2y3 .col3 .cc {
	width: 100%;
	display: block;
}
.pkp_structure_foot .col2y3 .col4 ul {
list-style-type:none;
}

.pkp_structure_foot .col2y3 .col4 .ubicacion {
	float: left;
	margin-left: 10px;
	color:white;
}
.pkp_structure_foot .col2y3 .col4 .ubicacion p {
	color: #FFFFFF;
	margin-top: 5px;
}

.pkp_structure_head {
    background-image: url(../images/fondo_completo.png);
    background-repeat: no-repeat;
    height: 234px;
    background-color:transparent; 
}

.pkp_structure_head .escudounlp {
    float: right;
    height: 66px;
    width: 141px;
    clear: right;
    position: relative;
    top: 58px;
    right: 10px;
}

.pkp_structure_head .parabanda {
    width: 282px;
    height: 141px;
    float: left;
    position: relative;
    top: 30px;
}

.pkp_structure_head .menu li {
    list-style-type: none;
    display: inline;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 5px 10px 2px;
}

.pkp_structure_head .menu li a {
    text-decoration: none;
    padding:5px 10px 5px 10px;
    color: #000;
}

.pkp_structure_head .menu {
    width: 680px;
    float: right;
    position: relative;
    top: 30px;
}

.sf-menu{
    float: right;
}

.pkp_structure_head .contenedor_derecho {
    width: 50%;
    height: 200px;
    float: right;
}

.pkp_structure_head .contenedor_derecho .menu a:hover {
    color: white;
    background-color: #98d3d1;
}

.pkp_structure_head_siteNav {
    color: #000000;
    position: absolute;
    border: none; 
	z-index:10;
    
}

.pkp_structure_head_siteNav a {
    color: #14263a;
	text-decoration:none;
}

.pkp_structure_head_siteNav a:hover {
	text-decoration:underline;
}

.pkp_helpers_align_left {
    float: left;
    position: absolute;
    left: 393px;
}

.pkp_helpers_flatlist {
    margin: 19px;
    padding: 0;
}
.col_principal {
	width: 60%;
	float: left;
}
.col_principal_mobile {
	width:100%;
}

.col_secundaria {
	width: 40%;
	float: left;
}
.col_principal .exploracion .explo_unidades {
	float: left;
	width: 50%;
}
.col_principal .exploracion .links_relacionados {
	float: left;
	width: 50%;
}
.col_principal .destacado .portada {
	width: 220px;
	float: left;
}
.col_principal .exploracion {
	clear: both;
	margin-left: 50px;
}
.col_principal .destacado .detalle .titulo_destacado {
	background-color: #98D3D1;
	padding: 5px;
	float: left;
	clear: right;
}
.col_principal .destacado .detalle .detalles_del_item {
	float: left;
	padding:0 0 0 10px;

        width: 65%;
}
.col_principal .destacado .detalle .detalles_del_item h2 {
	background-color: #98D3D1;
	font-size: 12px;
	padding: 3px 0px 3px 10px;
	color: white;
	text-transform: uppercase;
	font-family:Arial, Helvetica, sans-serif;
}

.detalle {
	padding:5px;
}
.col_principal .destacado h1 {

}

.col_principal .detalle h1 {

}


.col_principal .destacado .detalle .detalles_del_item h1 {
	font-size: 20px;
	color: #12909F;
}

.col_principal .destacado .detalle .detalles_del_item ul {
	color: #6D6D6D;
	font-size: 14px;
	line-height: 1.5;
	margin-top:8px;
	padding:0px;
}

.navbar-default .navbar-nav li a:hover {
	background-color:#096672;
}

.rotulo {
	background-image: url(../images/forma_h1.png);
	height: 30px;
	color: #6DC6C1;
	font-weight: bold;
	padding: 10px 0px 0px 45px;
	font-size: 16px;
	background-repeat: no-repeat;
}
.exploracion .explo_unidades ul {
	line-height: 1.7;
	font-size: 13px;
        
}
.exploracion .explo_unidades ul li  {
	list-style-type: circle;
	
}

.exploracion .explo_unidades ul li a {
	text-decoration: none;
        color: #333;
	
}
.col_secundaria .busqueda {
	background-image: url(../images/fondo_busqueda.png);
	width: 364px;
	height: 180px;
	//position:relative;
	top:-58px;
/*	top: 210px;*/
	padding: 20px 0px 0px 0px;
	background-repeat: no-repeat;
}
.col_secundaria .busqueda .titulo {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #3c5a68;
	margin: 0px 20px 0px 20px;
	text-align: center;
	margin-top: 20px;
}
.col_secundaria .busqueda .barra_ .barrita {
	background-color: white;
	height: 34px;
	width: 200px;
	float: left;
}
.col_secundaria .busqueda .barra_ .lupita {
	width: 24px;
	height: 24px;
	background-color: orange;
	float: left;
	padding: 10px 0px 0px 10px;
}
.col_secundaria .busqueda .barra_ {
	margin: 10px 0px 0px 20px;
}
.col_secundaria .areas_tematicas .icon {
	width: 70px;
	float: left;
	text-align: center;
	margin: 7px;
	font-size: 12px;
}
.texto_icon {
	text-align: center;
	margin-top:5px;
}

.texto_icon a{
	text-decoration: none;
}

.col_secundaria .areas_tematicas {
	width: 350px;
}
.linea {
	height: 100px;
	display: block;
}
.col_principal .destacado {
	margin-left: 50px;
}
#footer #col2y3 #col3 .cc p {
	float: left;
	margin: 0px 0px 0px 5px;
	width: 300px;
}
#footer #col2y3 #col3 .redes {
	width: 300px;
	height: 60px;
}
#footer #col2y3 #col3 .cc {
	width: 100%;
	display: block;
}
#footer #col2y3 #col4 ul {
list-style-type:none;
}
.col_principal .destacado h1 {
	color: #21919f;
	font-size: 20px;
} 
.col_principal .resena {
}
.col_principal .resena  , .col_principal .contenidos {
	clear: both;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
    text-align: justify;
}
.col_principal .contenidos h1, .col_secundaria .relacionados h1 {
	color: #46b5af;
	font-size: 18px;
	margin: 0;
	background-color: none;
	max-width: 300px;
	width: 300px;
    padding: 5px 0px;
	}
	
.col_principal .resena h1 {
	color:#46b5af;
	margin:0px;
	font-size:1.5em;
	font-weight:bold;
}
}
	
.col_principal .resena p {
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 0px 0px;
	font-size: 12px;
	line-height: 1.8!important;
	text-align: justify;
	width: 90%;
}

.resena p {
	text-align:justify;
	line-height:1.5;	
	
}
.col_secundaria .relacionados ul {
	font-size: 13px;
	margin-top: 5px;
}
.col_secundaria .relacionados .links_relacionados {
	width: 300px;
}
.col_principal .contenidos ul {
	font-size: 14px;
	line-height: 1.5;
}
.col_secundaria .relacionados {
	margin-bottom: 10px;
}
.col_secundaria .relacionados .links_relacionados .img_detail {
	padding: 4px;
}

.col_principal .destacado .detalle .detalles_del_item .estrellas {
	background-image: url(../images/estrellas.png);
	width: 86px;
	height: 20px;
	background-position: 0px 195px;
}

.temario .areas li {
	list-style-type:disc;
	font-family: arial;
	font-size: 12px;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	line-height: 2;
/*	background-image: url(../images/flechanegra.png);*/
	background-repeat: no-repeat;
	background-position: 8 5;
        
}
.temario h1, .medio h1 {
	color: #6dc6c1;
	font-size: 14px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	width:560px;
}
.temario {
	font-family: arial;
	margin: 10px 5px 0px 10px;
	width: 20%;
	padding: 5px 10px 5px 10px;
	border: 1px solid #dedede;
	float: left;
}
.temario .areas {
	margin: 0;
}
.medio {
	float: left;
	width: 50%;
	margin: 10px 0px 0px 0px;
}
.listadoitems ul.items li {
	display: block;
	/*min-height: 157px;*/
	list-style-type: none;
	border-bottom: 1px solid #98d3d1;
	/* margin: 10px 0px 0px 0px;*/
	padding: 10px 0 0; 
	clear:both;
}

.listadoitems .items {
	margin: 0px;
}
.listadoitems .items .portada {
	width: 25%;
	float: left;
	text-align: center;
	padding: 2px;
}
.listadoitems .items .contenido {


}
.listadoitems .items .contenido h1 {
	color: black;
/*	font-size:18px;*/
	line-height:1.5;
}
.listadoitems .items .contenido p {
	font-size: 12px;
}


.temario .areas ul li ul li {
background-color:red;
}

.temario .areas  li a{
    color: #333;
     text-decoration: none;
}
.temario .areas li ul li {
	background-image: url(flechaverde.png);
	background-position: 0 7;
	margin-left: -30px;
}

.bx-wrapper .bx-viewport {
    height: 350px !important;
    //height: 80% !important;
}

#inlinePdfResizer {
	width: 98%;
	padding: 1px 0px 1px 1px;
    min-height: 500px;
   /*height: 500px;*/
}



/*   Estilo redes sociales*/

.external-share {
       display:inline-block;
       vertical-align:top 
     } 
   .share-bar { 
       float: right; 
       clear: right;
	    position: relative;
        right: 86px;
       padding: 8px 0px;
    } 


.pkp_structure_foot a {
color:white;
text-decoration:none;
line-height:1.5;
}

/************************************Estilo Lucas*****************************************/

.pkp_structure_foot .pkp_structure_subfoot {
/* position:absolute;
bottom:-470px; */
right:20px;
/* position:relative; */
bottom:70px;
}

.pkp_structure_head_siteNav .pkp_helpers_flatlist {
 margin-top: 15px;
/*    width: 110px;*/
	text-decoration:none;
	z-index:5;
	line-height:1.5;
	}

.pkp_structure_search input {
width:260px;
}

.resena ul{
padding:0px;
}

.resena h1 {
font-size:1em;
font-weight:bold;
}

.resena ul li h1 {

}

.resena h1 strong{
color:black;
}

li strong {
display:block;
clear:right;
font-size:1.5em;
font-weight:bold;
margin-top:10px;
}

.resena_autores li strong { font-size: 1.1em;}

.seriesLink strong {
display:block;
clear:right;
font-size:1.2em;
font-weight:bold;
margin-top:10px;
}

.sf-menu li:hover {
    background-color:#98d3d1;
}

ul.sf-menu li ul li:hover {
background-color:#98d3d1;
}

ul.sf-menu li ul li {
background-color:#98d3d1;
}

ul.sf-menu {
 position: relative;
    right: 76px;
    z-index: 1;
}

.pkp_helpers_flatlist pkp_helpers_align_right  {
z-index:1000;
}

div.contenido h1 a {
color:black;
}

div.contenido h1 a:hover {
color:#12909f;
}

.publicationFormatDownload { width: 450px; }
.publicationFormatDownload li { display: block; }
.publicationFormatDownload li > div { float: left; width: 50%; } */


   
.publicationFormatDownload { width: 250px; }
.publicationFormatDownload li { display: block;}
.publicationFormatDownload li > div { float: none; width: 100%; text-align:left;}
.publicationFormatDownload .publicationFormatLink { padding-bottom: 15px; }
.publicationFormatDownload li:hover { background-color:rgba(109, 198, 193, 0.22); }


.resumen.truncate {
    text-overflow: ellipsis;
    /*width: 100%;
    height: auto;*/
    overflow: hidden;
    padding-top: 5px;
    font-size: 90%;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    line-heigth: 10px;
    max-heigth : 100px;
} 
@media (max-width: 600px) {
  .resumen.truncate.tablet {
     display: none;
    } 
}

.nav > li {
      font-size: 1.5em!important;
      line-height: 2em !important;
}

@media (min-width: 768px and max-width: 1024px){
    
    .nav > li {
      font-size: 1.3em!important;
      line-height: 2em !important;
}
}

.selectBox-dropdown {
    min-width: 117px;

}

/** {
	margin:0;
	padding:0;
}*/
 
body {
	background:#FFFFFA;
}
 
header {
	width:100%;
}
 
header nav {
	width:100%;
	max-width:2000px;
	margin:20px auto;
	background:#6FC3C0;
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
	font-size:2em;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
	color:white;
	text-decoration:none;
}
 
section {
	padding:20px;
}


header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}


.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#6FC3C0;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:5em;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:left;
		font-size:40px;
	}



/* Nuevo estilus */


.container{
      width:100% !important
} 
   
.navbar-default .navbar-collapse, .navbar-default  {
background:none;
border:none;
}

.navbar-collapse {
width:100%;
}

.navbar-default .navbar-nav .active a{
background-color: #21919f !important;
color:#fff !important;
}

 .navbar-default .navbar-nav .active  a:focus {
 background-color:none!important;
 }
  
.navbar-default .navbar-nav .active a:hover {
background-color:#000 !important;
}


.navbar-default .navbar-nav  li  a {
color:#fff !important;
font-size: 23px;
}

li .active a{
color:red;
}

ul li a.nav {
color:#fff;
}

.headermobile{
/*   background-image: url(../images/fondo_mobile.png);
    background-repeat: no-repeat; */
    height: 130px;	
/* 	min-height: 168px; */
    background-color:#00233a; 
}

.dropdown-menu {
background-color:#21919f !important;
}

#dropunidades .dropdown-menu {
color: red !important; 
float: left !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color:#21919f !important;
}

.btn-default {
background-color:#21919f !important;
border-color: #21919f !important!;
color:#fff !important;
float:right !important;
}

i {
color:red !important;
}

.icon-search {
color:#fff !important;
background-color:#63c6bf !important;
}

.btn {
color:#fff !important;
}

.navbar-toggle {
float:left !important;
}

.navbar-default {
border: none !important;
background-color:#63c6bf !important;
}

.navbar-toggle {
border: none !important;
background-color:#63c6bf !important;
}


.navbar .navbar-default {
   
}

.icon-bar {
background-color: #fff !important;
}

.navbar-header {
background-color:#63c6bf !important;
}

.btn-default {
background-color:#63c6bf !important;
border:none !important;
}

i {
float:right!important;
background-color:red !important;
}

.navbar-form , .navbar-left {
border:none !important;
}

#escudazo {
top:16px;
}

.navbar-form {
padding:9px !important;
}


#desplegable_unidades ul li  {
padding: 5px 0px 0px 20px;
}

.navbar-brand {
color:white !important;
}

#desplegable_unidades {
margin:10px 0px 0px 0px; 
}

.h1sitios {
border-bottom: 1px solid #63c6bf;
color:#63c6bf;
margin-left:20px;
font-size:1.5em;
}

.falopa {
margin-top:20px;
}

#sacapadding {
padding:0px;
}

#escudo {
display:block;
}

.navbar-default .navbar-nav > li > a {
line-height:1.5;
font-size:1em !important;
}

#jv {
padding: 0px;
}

btn.marcelo {
width: 100%;
border-radius:0px;
color:red;
}

.panel-default > .panel-heading {
background-color: #21919f!important;
color:white !important;
font-weight:bold !important;
font-size:0.6em !important;
}

.panel-default ul li a {
line-height:2.5 !important;
}

.panel-default ul {
margin-top:0px;
}

.johnny {
margin-top:5px;
}

.titulo_results { 
/*margin-left:20px;*/
font-size:24px;
background-color:#21919f;
color:white;
padding:0px 15px;
text-align: center;
}

.mobile_texto {
text-align:center;
line-height:1.2;
font-size:1em;
margin: 0 auto !important;
}

.mobile_texto a{
color:red;
}


.exploracion_mobile {
margin-top:5px;
list-style-type:none;
}

.exploracion_mobile:hover{
	background-color:#dedede;
}

.listadoitems .items .contenido h1 a {
color:#21919f !important;
font-size:1.5em;
/* font-weight:bold !important;  */
}

.listadoitems .items .contenido_mobile h1 a {
color:#21919f !important;
font-size:0.5em;
line-height:1.5;
/* font-weight:bold !important;  */
}

.date {
font-weight:bold;
margin-top:10px!important;
color:#a4a4a4;
display:block;
font-size:1.3em;
}

.cuerpo {
font-family:arial;
}

.mobile_layout  {
color: #6dc6c1;
font-size: 1em;

	}
	
.contenido a {
display:block;
}

.verbook {
float:right;
padding-top:15px;
font-weight:bold;
}

.portada img {
margin-top:10px;
}

.mobile_layout  .h1 a {
color:red !important;
}

.mobile_layout .autor {
font-size:2em;
/* color:#21919f !important; */
font-weight:normal;
color:#a4a4a4;
}

.mobile_layout  .autor_mobile {
font-size:1em;
/* color:#21919f !important; */
font-weight:normal;
color:#a4a4a4;
}

.mobile_layout  .date {
/*color:black;*/
font-size:1em;
font-weight:bold;
}

.barra {
background-color:#6dc6c1;
height:65px;
color:white;
padding:5px;
font-family:arial;
}

.titulo h1 {
color:#6dc6c1;
/*font-size:2em;*/
}

 .imagen_y_titulo .titulo h1 {
	 font-size:1.7em;
 }

.detalles_del_item {
color:#5e5e5e;
font-size:1.2em;
line-height:1.5;
}

.resena_mobile h1{
color:red;
/*font-size:16px;*/
font-weight:bold;
color:#21919f;
margin-left: 25px;
}

.resena_mobile p{
text-align:justify;
padding:0px 25px;
line-height:3;
font-size:1.1em; 

}

.informaciondeautores  {
padding-left:25px;
background-color:#eeeeee;
line-height:2;
font-size:0.5em;
}

.informaciondeautores ul li h1 {
/*font-size:18px;*/
color:#21919f;
font-weight:bold;
font-size:1em;
}

.informaciondeautores h1 {
	color: #21919f;
    font-weight: bold;
    color:#21919f;
	font-size:30px;
	}

.informaciondeautores h1 strong{
font-weight:regular;
font-size:16px;
color:black;
}

.informaciondeautores  p{
line-height:2;
text-align:justify; 
}

.informaciondeautores li p{
color:#757576;
font-size:2em;
line-height:2;
/* padding: 0 10px 0 0; */
}


.glyphdown, .glyphicon-eye-open {
font-size:90px;
color:#21919f;
}

.publicationFormatLink {
/*	text-align:center;*/
	color:#21919f;
}

.publicationFormatLink a:hover {
	text-decoration:none;

}

.flechaback {
	font-size:33px;
	color:white;
	margin-top:8px;
}

.detalles_del_item_mobile{
color:#5e5e5e;
font-size:1em;
line-height:2em;
}

.detalles_del_item_mobile a{ 
background-color: #e6e6e6;
    color: #8a8a8a;
    font-size: 1em;
    line-height: 2em;
/*     margin: 16px; */
    padding: 5px 8px;
    text-decoration: none;
}

.detalles_del_item_mobile ul {
	padding-left:25px;


}

.detalles_del_item_mobile a:hover{
text-decoration:none;
} 

.detalles_del_item_mobile ul li {
	color:#757576;
}

.detalles_del_item_mobile ul li strong{
	color:#6dc6c1;
	font-size:1em;
}

.imagen_y_titulo {
	margin-top:10px;
}

.imagen_y_titulo h1{
	margin-top:0px;
	}
	
.imagen_y_titulo img {
	border:1px solid #21919f;
}

.title_left{
	display:none;
}

.publicationFormatName1 {
	display:none !important;
}

p {
	line-height:1.5!important;	 
	text-align:justify !important;
}

.panel-title {
	font-size:2em!important;
}
/*
.nav > li {
	font-size:2em!important;
	line-height:2em !important;
}*/

.bs-glyphicons li {
    background-color: #f9f9f9;
    border: 1px solid #fff;
    float: left;
    font-size: 10px;
    height: 115px;
    line-height: 1.4;
    padding: 10px;
    text-align: center; 
    width: 25%;
}  

.titulo_slider  { 
	float:left;
	width:100%;
	}
 
.titulo_slider h1 {
	color:#63c6bf;
	font-size:1.5em;
	margin:0;
	}

/* Estilo para slider que no se usa*/
.carousel-caption a h1 {
	/*float:left;
		text-align:left;*/
	background-color:none;

	color:#63c6bf;
	font-size:1.5em;
	}

.carousel-caption {
	/*position:relative !important;*/
	text-shadow:none !important;
} 

.carousel-caption p, .carousel-caption p a {
	margin:0;
	float:left;
	padding:0;
	color:black;
	} 
/*Fin de estilo para slider que no se usa */	

.carousel-indicators { 
	bottom:0px;
	display:none;
	} 

.carousel-inner img { 
	float:left;
} 

.carousel-control {
	background-image:none !important;
	}
	
.imagencarru  {
	border:1px solid red;
}
 
.paneles  { 
	margin-bottom:20px;
} 

ul, ol { 
	list-style-type:none !important; 
} 
 
.notfound { 
background-color:#dedede;
color:grey;	
padding:20px;
text-align:center;
font-style:italic;
font-size:1.5em; 
} 

.panel-body ul li a{
	font-size:1em;  
}

.detalle_descarga ul li div{
font-size:5em;
/*text-align:center;*/
}

.autor {
	font-size:1.1em;
	line-height:2em;
}

.numeroisbn {
	font-size:1em;
} 

.imagen_sites{
	/*height:110px;*/
}

.pkp_helpers_text_center {
	text-align:center;
}

.listado{
margin-left:-15px;
}	

.listadofac{
	margin-left:-35px;
	}
	 
.listati { 
		margin-left:-30px;
}

.glyfo {
	background-color:#21919f !important;
	color:white !important;
	float:left!important;
	font-size:0.6em;
	margin-right:10px;
}
 
.textodescarga {
	font-size:0.3em;
	text-align:center;
	font-family:arial;
	text-decoration:none;
	 position: relative;
    text-align: left;
    text-decoration: none;
	left:-50px;
	top:-25px;
	display:inline;
	
}
.textodescarga a  {
	text-decoration:none;
}

.portada_web{
	float: left;
	text-align: center;
	padding: 10px 0px 10px 0px;
	width:29%;
	float:left;
}
.contenido_web  {
	width: 50%;
	float:left;
}

.contenido_web h1 a {
    color:#21919f !important;
    font-size:0.8em;
    /* font-weight:bold !important;  */
}

.medio .contenido_web h1 a { font-size: 1.3em; }

.listainfo {
	margin-left:0px;
	padding-left:0px;
}

.resena_autores {
	background-color:#f1f1f1;
	padding:10px 10px 10px 36px;
}

.resena_autores h1 strong{
	color:#21919f !important;
	font-size:1.2em;	
	font-weight:bold;
	margin-left:10px;
 
}
.resena_autores p strong { font-size: 12px; }
.resena_autores h1 {
	color:#21919f !important;
	font-size:1.2em;	
	font-weight:bold;
}

.resena_autores ul li h1 {
	color:black !important;
	font-size:14px;
	line-hegith:1.5;
}

h3 {
	color:#002339;
	font-family:arial;
	font-weight:bold;
}
