@CHARSET "UTF-8";
/**
 * rightSidebarUNLP.css
 *
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared elements for pages including a right-hand sidebar.
 *
 * $Id$
 */

/**
 * Common HTML elements
 */
 #headerTitle {
	text-align: left;
	margin: 0px;
	padding: 0px;
}
#rightSidebar {
	width: 194px;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	font-size: 10px;
	border-left: 1px solid #f5f9f3;
	clear: right;
}
* html #rightSidebar { margin-right: 5%; }
#main {
	width: 553px;
	float: left;
	padding: 0px;
}
